
.nav-item {
    margin-left: 20px;
}
.nav-link {
    transition: 0.2s;
}
.nav-link:hover {
    border-bottom: 3px solid rgb(255, 0, 0);
}
.bi1 {
    transition: 0.2s;
}
a {
   color: black; 
}
.bi1:hover {
    border-bottom: 3px solid rgb(255, 0, 0);
}
.text-column {
    text-align: justify;
} 
.header1 {
   padding-top: 180px;
}
.btn {
    border: 2px solid gray;
    padding: 10px 30px 10px 30px;
}
.row {
    border-top: 1px gray solid;
    height: 700px;
}